@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Boldonse&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kablammo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');


.font-boldonse {
  font-family: "Boldonse", sans-serif;
}

/* Brave/Chrome/Safari/Edge */
::-webkit-scrollbar {
  display: none;
}

/* Firefox fallback (doesn't affect Brave) */
* {
  scrollbar-width: none;
}
body {
  background-color: black;
  color: white;
  overflow-x: hidden;
}
.feat-class::after {
  content: " ";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 100%; /* 100% of the anchor */
  border-bottom: 3px solid orange;
  border-radius: 2px;
  padding: 3px;
}
.curve {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.curve svg {
    position: relative;
    display: block;
    width: calc(101% + 1.3px);
    height: 166px;
}

.curve .shape-fill {
    fill: #000000;
}

.silkscreen-regular {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.silkscreen-bold {
  font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.kablammo {
  font-family: "Kablammo", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 0;
}
.metal-mania-regular {
  font-family: "Metal Mania", system-ui;
  font-weight: 400;
  font-style: normal;
}
