/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Boldonse&family=Lexend&family=Google+Sans&display=swap');

/* Import Tailwind */
@import "tailwindcss";

/* Define CSS custom properties */
:root {
  --font-finger-paint: 'Finger Paint', 'system-ui', 'cursive';
  --font-boldonse: 'Boldonse', 'system-ui', 'display';
  --font-geom: 'Geom', 'system-ui', 'sans-serif';
  --font-lexend: 'Lexend', 'system-ui', 'sans-serif';
  --font-google-sans: 'Google Sans', 'system-ui', 'sans-serif';
}

@font-face {
  font-family: 'charlie';
  src: url('/fonts/charlie-display-bold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.font-charlie {
  font-family: 'charlie', sans-serif;
}
/* Create custom utility classes */
.font-finger-paint {
  font-family: var(--font-finger-paint);
}

.font-boldonse {
  font-family: var(--font-boldonse);
}
.font-geom {
  font-family: var(--font-geom);
}
.font-lexend {
  font-family: var(--font-lexend);
}
.font-google-sans {
  font-family: var(--font-google-sans);
}
/* Brave/Chrome/Safari/Edge */
::-webkit-scrollbar {
  display: none;
}

/* Firefox fallback (doesn't affect Brave) */
* {
  scrollbar-width: none;
}
body {
  background-color: black;
  color: white;
  overflow-x: hidden;
}
.feat-class::after {
  content: " ";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 100%; /* 100% of the anchor */
  border-bottom: 3px solid orange;
  border-radius: 2px;
  padding: 3px;
}
.curve {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.curve svg {
    position: relative;
    display: block;
    width: calc(101% + 1.3px);
    height: 166px;
}

.curve .shape-fill {
    fill: #000000;
}

.silkscreen-regular {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.silkscreen-bold {
  font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.kablammo {
  font-family: "Kablammo", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 0;
}
.metal-mania-regular {
  font-family: "Metal Mania", system-ui;
  font-weight: 400;
  font-style: normal;
}