/* Import fonts */

/* Import Tailwind */
@import "tailwindcss";

/* Define CSS custom properties */
:root {
  --font-finger-paint: 'Finger Paint', 'system-ui', 'cursive';
  --font-boldonse: 'Boldonse', 'system-ui', 'display';
  --font-geom: 'Geom', 'system-ui', 'sans-serif';
  --font-lexend: 'Lexend', 'system-ui', 'sans-serif';
  --font-google-sans: 'Google Sans', 'system-ui', 'sans-serif';
}

@font-face {
  font-family: 'charlie';
  src: url('/fonts/charlie-display-bold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Excalifont';
  src: url('/Excalifont-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.font-charlie {
  font-family: 'charlie', sans-serif;
}
/* Create custom utility classes */
.font-finger-paint {
  font-family: var(--font-finger-paint);
}

.font-boldonse {
  font-family: var(--font-boldonse);
}
.font-geom {
  font-family: var(--font-geom);
}
.font-lexend {
  font-family: var(--font-lexend);
}
.font-google-sans {
  font-family: var(--font-google-sans);
}
/* Brave/Chrome/Safari/Edge */
::-webkit-scrollbar {
  display: none;
}

/* Firefox fallback (doesn't affect Brave) */
* {
  scrollbar-width: none;
}
body {
  background-color: black;
  color: white;
  overflow-x: hidden;
}

.curve {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.curve svg {
    position: relative;
    display: block;
    width: calc(101% + 1.3px);
    height: 166px;
}

.curve .shape-fill {
    fill: #000000;
}


@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}